[submodule "frontend"]
	path = frontend
	url = https://github.com/ShanghaitechGeekPie/coursebench-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/ShanghaitechGeekPie/coursebench-backend
[submodule "frontend-next"]
	path = frontend-next
	url = git@github.com:ShanghaitechGeekPie/coursebench-next.git
